.cube, .cube-face, .pieza, .pieza-face, .guia { position: absolute; transform-style: preserve-3d; }

.space {
  position: relative;
  cursor: pointer;
  width: 600px;
  height: 600px;
  perspective: 1200px;
  transform-style: preserve-3d; /*transform: scale(2.5);*/
  border: 4px solid #2c3e50;
}


/*------------------------------------------------------------------------------------------------*/
.cube, .guia {
  width: 200px;
  height: 200px;
}

.cube {
  margin: 200px;
  transform: rotateX(700deg);
  transition: transform 1s;
}

/*.guia { background: #8e44ad; }*/

/*-------------------------- PIEZAS: ROTACIÓN DE LAS 6 CARAS -------------------------------------*/
.pieza-left  { transform: rotateY(-90deg) translateZ(36px) translateX(-48%); }
.pieza-right {transform: rotateY(90deg) translateZ(36px) translateX(48%); }
.pieza-top  { transform: rotateX(90deg) translateZ(36px) translateY(-48%); }
.pieza-bottom  { transform: rotateX(-90deg) translateZ(36px) translateY(48%); }
.pieza-front {transform: translateZ(2px); }
.pieza-back  { transform: translateZ(-72px); }

/*------------------------------------------------------------------------------------------------*/

.pieza {
    top: 0; bottom: 0; right: 0; left: 0;
    margin: auto;
    width: 33.3%;
    height: 33.3%;
    transition: transform 1s;
    transform: translateZ(30px);
}

.pieza-face {
  border-radius: 10px;
  width: 85%;
  height: 85%;
  background: #1e272e;
  border: 8px solid #191919;
  box-shadow: 0 0 5px #191919;
}