.scene {
  position: relative;
  width: 600px;
  height: 600px;
  perspective: 1200px;
  transform-style: preserve-3d;
  border: 2px solid #079992;
}

.cube {
  margin: 200px;
  z-index: 1000;
  width: 200px;
  height: 200px;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(30deg);
  transition: transform 1s;
}

.cube-face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

.cube-face-front  { transform: rotateY(0deg) translateZ(100px); background: rgb(185,0,0,.7);}
.cube-face-right  { transform: rotateY(90deg) translateZ(100px); background: rgb(255,255,255,.7);}
.cube-face-back  { transform: rotateY(180deg) translateZ(100px); background: rgb(255,89,0,.7);}
.cube-face-left  { transform: rotateY(-90deg) translateZ(100px); background: rgb(255,213,0,.7);}
.cube-face-top  { transform: rotateX(90deg) translateZ(100px); background: rgb(0,155,72,.7);}
.cube-face-bottom  { transform: rotateX(-90deg) translateZ(100px); background: rgb(0,69,173,.7);}


.fila {
  display: flex;
  height: 33.3%;
}

.pieza {
  width: 33.3%;
  background: #fff;
  border: 2px solid black;
}